{% extends 'base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container mt-5 mb-5" style="width: 75%">
        <h1>게시글 수정</h1>
        <div class="input-group input-group-lg mt-4">
            <span class="input-group-text" id="inputGroup-sizing-lg">Subject</span>
            <input type="text" name="subject" value="{{ b.subject }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg mt-3">
            <span class="input-group-text" id="inputGroup-sizing-lg">Content</span>
            <textarea class="form-control" style="height: 200px;" name="content">{{ b.content }}</textarea>
        </div>
        <div class="mt-4 text-end">
            <button class="btn btn-outline-primary">게시글수정</button>
            <a href="{% url 'board:detail' b.id %}"><button type="button" class="btn btn-outline-primary">돌아가기</button></a>
        </div>
    </div>
</form>

{% endblock %}